html
	head
		title Index page using Jade
	body Front page
		form(action="https://127.0.0.1:3000/upload",method="get",enctype="multipart/form-data")
		input(type="file", name="file")
		input(type="submit")
